code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.spinner {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dropdown {
  position: absolute;
  bottom: "-25px";
  background: "white";
  font-family: "bangers";
  width: "240px";
  border-radius: "4px";
  background-color: "rgb(255,171,19)";
}
.dropdown-content {
  position: absolute;
  background-color: #ffc71e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  margin-top: 46px;
  padding-right: 5px;
  box-shadow: 0px 8px 16px 0px rgb(116, 44, 44);
}
.dropdown-content a {
  color: rgb(49, 151, 36);
  padding: 3px 13px;
  padding-left: 3px;
  text-decoration: none;
  display: inline-block;
}
.avatar {
  display: inline-block;
  padding-right: 5px;
}
.loginbutton {
  margin-top: 15px;
  color: whitesmoke;
  border-color: rgb(138, 67, 10);
  background-color: rgba(65, 35, 16, 0.932);
  box-shadow: 0px 8px 16px 0px rgb(116, 44, 44);
  margin-left: 196px;
}
.loginbutton:hover {
  background-color: rgba(131, 61, 18, 0.932);
  border-color: rgb(97, 49, 9);
}
.discordbutton {
  margin-top: 15px;
  color: whitesmoke;
  border-color: rgb(138, 67, 10);
  background-color: rgba(65, 35, 16, 0.932);
  box-shadow: 0px 8px 16px 0px rgb(116, 44, 44);
  margin-left: 196px;
}
.discordbutton:hover {
  background-color: rgba(131, 61, 18, 0.932);
  border-color: rgb(97, 49, 9);
}

.registerbutton {
  margin-top: 15px;
  color: whitesmoke;
  border-color: rgb(138, 67, 10);
  background-color: rgba(65, 35, 16, 0.932);
  box-shadow: 0px 8px 16px 0px rgb(116, 44, 44);
}
.registerbutton:hover {
  background-color: rgba(131, 61, 18, 0.932);
  border-color: rgb(97, 49, 9);
}
.mask {
  background-image: url("./Components/cheeseslice.png") !important;
  background-size: 722px 636px !important;
  box-shadow: 0px 8px 16px 0px rgb(116, 44, 44) !important;
}
.navlink:hover {
  color: black !important;
}
