code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.spinner {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dropdown {
  position: absolute;
  bottom: "-25px";
  background: "white";
  font-family: "bangers";
  width: "240px";
  border-radius: "4px";
  background-color: "rgb(255,171,19)";
}
.dropdown-content {
  position: absolute;
  background-color: #ffc71e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  margin-top: 46px;
  padding-right: 5px;
}
.dropdown-content a {
  color: rgb(49, 151, 36);
  padding: 3px 13px;
  padding-left: 3px;
  text-decoration: none;
  display: inline-block;
}
.avatar {
  display: inline-block;
  padding-right: 5px;
}


.gamearea {
  /*Chrome,Safari*/
-webkit-clip-path: polygon(296px 38px,307px 38px,311px 37px,314px 35px,316px 35px,317px 34px,319px 34px,323px 33px,328px 32px,332px 31px,333px 31px,336px 32px,340px 33px,349px 33px,352px 34px,356px 34px,362px 35px,370px 37px,377px 39px,386px 40px,396px 40px,396px 41px,401px 43px,420px 43px,443px 41px,492px 41px,513px 43px,542px 44px,575px 44px,583px 42px,590px 42px,614px 38px,627px 35px,639px 32px,647px 31px,657px 31px,671px 32px,689px 34px,709px 36px,725px 38px,734px 39px,740px 41px,765px 41px,771px 42px,779px 45px,788px 47px,797px 50px,810px 53px,824px 56px,843px 62px,859px 69px,873px 79px,882px 86px,883px 87px,883px 95px,881px 104px,878px 112px,877px 118px,877px 134px,878px 143px,879px 149px,880px 156px,883px 164px,887px 175px,891px 183px,894px 191px,896px 201px,900px 214px,906px 230px,911px 247px,914px 261px,916px 271px,916px 275px,917px 277px,917px 279px,922px 289px,925px 296px,927px 299px,929px 303px,933px 310px,938px 321px,943px 330px,948px 338px,951px 344px,952px 348px,949px 348px,928px 347px,885px 342px,844px 344px,834px 349px,830px 353px,827px 355px,822px 356px,814px 359px,808px 361px,806px 363px,804px 363px,802px 365px,797px 367px,791px 371px,785px 374px,781px 375px,779px 376px,773px 377px,767px 381px,760px 382px,743px 382px,739px 384px,733px 385px,723px 388px,717px 388px,709px 387px,697px 386px,673px 386px,664px 387px,638px 387px,624px 388px,615px 390px,611px 390px,605px 391px,593px 392px,500px 392px,490px 391px,479px 391px,468px 389px,454px 386px,443px 385px,421px 379px,410px 375px,390px 371px,367px 367px,345px 366px,328px 366px,315px 367px,306px 368px,299px 370px,295px 372px,290px 374px,269px 380px,256px 384px,246px 385px,237px 387px,224px 388px,166px 388px,152px 384px,136px 381px,118px 377px,103px 375px,95px 373px,92px 372px,90px 370px,86px 369px,83px 368px,81px 368px,76px 366px,67px 366px,63px 365px,60px 364px,56px 363px,54px 362px,51px 360px,48px 356px,45px 350px,39px 342px,37px 338px,36px 335px,33px 332px,32px 329px,30px 327px,29px 324px,27px 321px,25px 317px,24px 313px,22px 307px,22px 278px,24px 270px,25px 265px,26px 258px,26px 230px,24px 223px,23px 218px,21px 212px,19px 205px,17px 195px,16px 186px,15px 176px,15px 139px,16px 131px,17px 127px,18px 121px,20px 116px,21px 112px,25px 104px,33px 90px,39px 78px,41px 73px,43px 69px,46px 65px,54px 57px,59px 53px,62px 50px,63px 49px,71px 45px,80px 42px,84px 40px,87px 39px,90px 37px,94px 36px,97px 36px,99px 35px,112px 35px,120px 34px,127px 33px,137px 33px,146px 32px,183px 32px,195px 31px,219px 31px,227px 32px,238px 34px,255px 35px,275px 36px,297px 36px);

/*Firefox*/
clip-path: url("#clipPolygon");
}